  
{% autoescape off %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background-color:#ececec!important;font-family:Raleway,sans-serif!important">

<head style="font-family:Raleway,sans-serif!important">
  <link rel="stylesheet" type="text/css" href="css/app.css" style="font-family:Raleway,sans-serif!important">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" style="font-family:Raleway,sans-serif!important">
  <meta name="viewport" content="width=device-width" style="font-family:Raleway,sans-serif!important">
  <title style="font-family:Raleway,sans-serif!important"></title>
  <style>
    @media only screen {
      html {
        min-height: 100%;
        background: #f3f3f3
      }
    }
    @media only screen and (max-width:596px) {
      .small-float-center {
        margin: 0 auto !important;
        float: none !important;
        text-align: center !important
      }
    }
    @media only screen and (max-width:596px) {
      table.body img {
        width: auto;
        height: auto
      }
      table.body center {
        min-width: 0 !important
      }
      table.body .container {
        width: 95% !important
      }
      table.body .columns {
        height: auto !important;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 16px !important;
        padding-right: 16px !important
      }
      table.body .columns .columns {
        padding-left: 0 !important;
        padding-right: 0 !important
      }
      table.body .collapse .columns {
        padding-left: 0 !important;
        padding-right: 0 !important
      }
      th.small-6 {
        display: inline-block !important;
        width: 50% !important
      }
      th.small-10 {
        display: inline-block !important;
        width: 83.33333% !important
      }
      th.small-12 {
        display: inline-block !important;
        width: 100% !important
      }
      .columns th.small-12 {
        display: block !important;
        width: 100% !important
      }
      table.menu {
        width: 100% !important
      }
      table.menu td,
      table.menu th {
        width: auto !important;
        display: inline-block !important
      }
      table.menu.vertical td,
      table.menu.vertical th {
        display: block !important
      }
      table.menu[align=center] {
        width: auto !important
      }
    }
  </style>
</head>

<body style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;Margin:0;background-color:#ececec!important;box-sizing:border-box;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;line-height:1.3;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important">
  <span class="preheader" style="color:#f3f3f3;display:none!important;font-family:Raleway,sans-serif!important;font-size:1px;line-height:1px;max-height:0;max-width:0;mso-hide:all!important;opacity:0;overflow:hidden;visibility:hidden"></span>
  <table class="body" style="Margin:0;background:#f3f3f3;background-color:#ececec!important;border-collapse:collapse;border-spacing:0;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;height:100%;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;width:100%">
    <tr style="font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top">
      <td class="center" align="center" valign="top" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
        <center data-parsed="" style="font-family:Raleway,sans-serif!important;min-width:580px;width:100%">
          <table align="center" class="row float-center" style="Margin:0 auto;border-collapse:collapse;border-spacing:0;float:none;font-family:Raleway,sans-serif!important;margin:0 auto;padding:0;position:relative;text-align:center;vertical-align:top;width:100%">
            <tbody style="font-family:Raleway,sans-serif!important">
              <tr style="font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top">
                <table class="spacer" style="border-collapse:collapse;border-spacing:0;font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top;width:100%">
                  <tbody style="font-family:Raleway,sans-serif!important">
                    <tr style="font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top">
                      <td height="56px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:56px;font-weight:400;hyphens:auto;line-height:56px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&#xA0;</td>
                    </tr>
                  </tbody>
                </table>
                <table class="row" style="border-collapse:collapse;border-spacing:0;font-family:Raleway,sans-serif!important;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                  <tbody style="font-family:Raleway,sans-serif!important">
                    <tr style="font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top">
                      <p class="brand--grey text-center" style="Margin:0;Margin-bottom:10px;color:#bbb;font-family:Raleway,sans-serif!important;font-size:20px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:center">Authors' Haven</p>
                    </tr>
                  </tbody>
                </table>
                <table class="spacer" style="border-collapse:collapse;border-spacing:0;font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top;width:100%">
                  <tbody style="font-family:Raleway,sans-serif!important">
                    <tr style="font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top">
                      <td height="36px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:36px;font-weight:400;hyphens:auto;line-height:36px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&#xA0;</td>
                    </tr>
                  </tbody>
                </table>
              </tr>
            </tbody>
          </table>
          <table align="center" class="container float-center" style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;font-family:Raleway,sans-serif!important;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:580px">
            <tbody style="font-family:Raleway,sans-serif!important">
              <tr style="font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top">
                <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                  <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;font-family:Raleway,sans-serif!important;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody style="font-family:Raleway,sans-serif!important">
                      <tr style="font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top">
                        <th class="header small-12 large-12 columns first last" style="Margin:0 auto;background:#03a87c;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:50px;padding-right:50px;padding-top:40px;text-align:left;width:564px">
                          <table style="border-collapse:collapse;border-spacing:0;font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top">
                              <th style="Margin:0;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                <p class="brand text-center" style="Margin:0;Margin-bottom:10px;color:#fff;font-family:Raleway,sans-serif!important;font-size:28px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;padding-bottom:30px;padding-top:15px;text-align:center">Welcome to Authors' Haven</p>
                              </th>
                              <th class="expander" style="Margin:0;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                  <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;font-family:Raleway,sans-serif!important;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody style="font-family:Raleway,sans-serif!important">
                      <tr style="font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top">
                        <th class="small-10 large-10 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:50px;padding-right:50px;text-align:left;width:467.33px">
                          <table style="border-collapse:collapse;border-spacing:0;font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top">
                              <th style="Margin:0;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                <img src="https://cdn.discordapp.com/email_assets/127c95bbea39cd4bc1ad87d1500ae27d.png" style="-ms-interpolation-mode:bicubic;clear:both;display:block;font-family:Raleway,sans-serif!important;max-width:100%;outline:0;text-decoration:none;width:auto">
                                <h4 style="Margin:0;Margin-bottom:10px;color:inherit;font-family:Raleway,sans-serif!important;font-size:24px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal">Hey {{ user.username }},</h4>
                                <p style="Margin:0;Margin-bottom:10px;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left">Wowwee! Thanks for registering an account with Authors' Haven! You're the coolest person
                                  in all the land (and I've met a lot of really cool people).</p>
                                <p style="Margin:0;Margin-bottom:10px;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left">Before we get started, we'll need to verify your email.</p>
                                <table class="spacer" style="border-collapse:collapse;border-spacing:0;font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top;width:100%">
                                  <tbody style="font-family:Raleway,sans-serif!important">
                                    <tr style="font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top">
                                      <td height="36px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:36px;font-weight:400;hyphens:auto;line-height:36px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&#xA0;</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <center data-parsed="" style="font-family:Raleway,sans-serif!important;min-width:435.33px;width:100%">
                                  <table class="button secondary float-center" style="Margin:0 0 16px 0;border-collapse:collapse;border-spacing:0;float:none;font-family:Raleway,sans-serif!important;margin:0 0 16px 0;padding:0;text-align:center;vertical-align:top;width:auto">
                                    <tr style="font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top">
                                      <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                        <table style="border-collapse:collapse;border-spacing:0;font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top;width:100%">
                                          <tr style="font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top">
                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;background:#777;border:0 solid #777;border-collapse:collapse!important;color:#fefefe;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                              <a href=http://127.0.0.1:8000{% url 'authentication:verify' uidb64=uid token=token %} style="Margin:0;background:#03a87c!important;border:0 solid #777;border-radius:3px;color:#fefefe;display:inline-block;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:700;line-height:1.3;margin:0;padding:8px 16px 8px 16px;text-align:left;text-decoration:none">Verify account</a>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </center>
                              </th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="spacer float-center" style="Margin:0 auto;border-collapse:collapse;border-spacing:0;float:none;font-family:Raleway,sans-serif!important;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:100%">
            <tbody style="font-family:Raleway,sans-serif!important">
              <tr style="font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top">
                <td height="26px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:26px;font-weight:400;hyphens:auto;line-height:26px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&#xA0;</td>
              </tr>
            </tbody>
          </table>
          <table align="center" class="container float-center" style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;font-family:Raleway,sans-serif!important;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:580px">
            <tbody style="font-family:Raleway,sans-serif!important">
              <tr style="font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top">
                <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                  <table class="spacer" style="border-collapse:collapse;border-spacing:0;font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top;width:100%">
                    <tbody style="font-family:Raleway,sans-serif!important">
                      <tr style="font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top">
                        <td height="26px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:26px;font-weight:400;hyphens:auto;line-height:26px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&#xA0;</td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;font-family:Raleway,sans-serif!important;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody style="font-family:Raleway,sans-serif!important">
                      <tr style="font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top">
                        <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:50px;padding-right:50px;text-align:left;width:564px">
                          <table style="border-collapse:collapse;border-spacing:0;font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top">
                              <th style="Margin:0;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                <h5 class="text-center fact green--text" style="Margin:0;Margin-bottom:10px;color:#03a87c;font-family:Raleway,sans-serif!important;font-size:20px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:center;word-wrap:normal">#FUN FACT</h5>
                                <p class="text-center" style="Margin:0;Margin-bottom:10px;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:center">Authors' haven the place where you get to convey yout thoughts, spit out your heart and meet
                                  other amazing thinkers of thoughts.</p>
                              </th>
                              <th class="expander" style="Margin:0;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <center align="center" class="float-center" data-parsed="" style="font-family:Raleway,sans-serif!important;min-width:580px;width:100%">
            <table align="center" class="menu menu float-center" style="Margin:0 auto;border-collapse:collapse;border-spacing:0;float:none;font-family:Raleway,sans-serif!important;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:auto!important">
              <tr style="font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top">
                <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                  <table style="border-collapse:collapse;border-spacing:0;font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top">
                    <tr style="font-family:Raleway,sans-serif!important;padding:0;text-align:left;vertical-align:top">
                      <th class="menu-item float-center" style="Margin:0 auto;color:#0a0a0a;float:none;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:10px;padding-right:10px;text-align:center">
                        <a href="#" style="Margin:0;color:#03a87c!important;font-family:Raleway,sans-serif!important;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none">Terms</a>
                      </th>
                      <th class="menu-item float-center" style="Margin:0 auto;color:#0a0a0a;float:none;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:10px;padding-right:10px;text-align:center">
                        <a href="#" style="Margin:0;color:#03a87c!important;font-family:Raleway,sans-serif!important;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none">Privacy</a>
                      </th>
                      <th class="menu-item float-center" style="Margin:0 auto;color:#0a0a0a;float:none;font-family:Raleway,sans-serif!important;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:10px;padding-right:10px;text-align:center">
                        <a href="#" style="Margin:0;color:#03a87c!important;font-family:Raleway,sans-serif!important;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none">Unsubscribe</a>
                      </th>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </center>
        </center>
      </td>
    </tr>
  </table>
  <!-- prevent Gmail on iOS font size manipulation -->
  <div style="display:none;font:15px courier;font-family:Raleway,sans-serif!important;line-height:0;white-space:nowrap">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
</body>

</html>
{% endautoescape %}